.nuget/packages.config
.vs/config/applicationhost.config
packages/Antlr.3.4.1.9004/Antlr.3.4.1.9004.nupkg
packages/EntityFramework.6.1.1/EntityFramework.6.1.1.nupkg
packages/EntityFramework.6.1.1/content/App.config.transform
packages/EntityFramework.6.1.1/content/Web.config.transform
packages/EntityFramework.6.1.1/lib/net40/EntityFramework.SqlServer.xml
packages/EntityFramework.6.1.1/lib/net40/EntityFramework.xml
packages/EntityFramework.6.1.1/lib/net45/EntityFramework.SqlServer.xml
packages/EntityFramework.6.1.1/lib/net45/EntityFramework.xml
packages/EntityFramework.6.1.1/tools/EntityFramework.psd1
packages/EntityFramework.6.1.1/tools/EntityFramework.psm1
packages/EntityFramework.6.1.1/tools/about_EntityFramework.help.txt
packages/EntityFramework.6.1.1/tools/init.ps1
packages/EntityFramework.6.1.1/tools/install.ps1
packages/Microsoft.ApplicationInsights.0.12.0-build17386/Microsoft.ApplicationInsights.0.12.0-build17386.nupkg
packages/Microsoft.ApplicationInsights.0.12.0-build17386/build/native/Microsoft.ApplicationInsights.targets
packages/Microsoft.ApplicationInsights.0.12.0-build17386/build/portable-win81+wpa81/Microsoft.ApplicationInsights.targets
packages/Microsoft.ApplicationInsights.0.12.0-build17386/build/wp8/Microsoft.ApplicationInsights.targets
packages/Microsoft.ApplicationInsights.0.12.0-build17386/content/ApplicationInsights.config.install.xdt
packages/Microsoft.ApplicationInsights.0.12.0-build17386/content/ApplicationInsights.config.transform
packages/Microsoft.ApplicationInsights.0.12.0-build17386/content/ApplicationInsights.config.uninstall.xdt
packages/Microsoft.ApplicationInsights.0.12.0-build17386/lib/net40/Microsoft.ApplicationInsights.XML
packages/Microsoft.ApplicationInsights.0.12.0-build17386/lib/portable-win81+wpa81/Microsoft.ApplicationInsights.XML
packages/Microsoft.ApplicationInsights.0.12.0-build17386/lib/portable-win81+wpa81/Microsoft.ApplicationInsights.winmd
packages/Microsoft.ApplicationInsights.0.12.0-build17386/lib/wp8/Microsoft.ApplicationInsights.XML
packages/Microsoft.ApplicationInsights.0.12.0-build17386/tools/net40/Microsoft.ApplicationInsights.targets
packages/Microsoft.ApplicationInsights.0.12.0-build17386/tools/net40/install.ps1
packages/Microsoft.ApplicationInsights.0.12.0-build17386/tools/net40/uninstall.ps1
packages/Microsoft.ApplicationInsights.JavaScript.0.11.0-build09387/Microsoft.ApplicationInsights.JavaScript.0.11.0-build09387.nupkg
packages/Microsoft.ApplicationInsights.JavaScript.0.11.0-build09387/tools/prefix.html
packages/Microsoft.ApplicationInsights.PerformanceCollector.0.12.0-build17386/Microsoft.ApplicationInsights.PerformanceCollector.0.12.0-build17386.nupkg
packages/Microsoft.ApplicationInsights.PerformanceCollector.0.12.0-build17386/content/ApplicationInsights.config.install.xdt
packages/Microsoft.ApplicationInsights.PerformanceCollector.0.12.0-build17386/content/ApplicationInsights.config.uninstall.xdt
packages/Microsoft.ApplicationInsights.RuntimeTelemetry.0.12.0-build17386/Microsoft.ApplicationInsights.RuntimeTelemetry.0.12.0-build17386.nupkg
packages/Microsoft.ApplicationInsights.RuntimeTelemetry.0.12.0-build17386/build/native/Microsoft.Applicationinsights.RuntimeTelemetry.targets
packages/Microsoft.ApplicationInsights.RuntimeTelemetry.0.12.0-build17386/content/native/ApplicationInsights.config.install.xdt
packages/Microsoft.ApplicationInsights.RuntimeTelemetry.0.12.0-build17386/content/native/ApplicationInsights.config.uninstall.xdt
packages/Microsoft.ApplicationInsights.RuntimeTelemetry.0.12.0-build17386/content/net40/ApplicationInsights.config.install.xdt
packages/Microsoft.ApplicationInsights.RuntimeTelemetry.0.12.0-build17386/content/net40/ApplicationInsights.config.uninstall.xdt
packages/Microsoft.ApplicationInsights.RuntimeTelemetry.0.12.0-build17386/content/net45/ApplicationInsights.config.install.xdt
packages/Microsoft.ApplicationInsights.RuntimeTelemetry.0.12.0-build17386/content/net45/ApplicationInsights.config.uninstall.xdt
packages/Microsoft.ApplicationInsights.RuntimeTelemetry.0.12.0-build17386/content/portable-win81+wpa81/ApplicationInsights.config.install.xdt
packages/Microsoft.ApplicationInsights.RuntimeTelemetry.0.12.0-build17386/content/portable-win81+wpa81/ApplicationInsights.config.uninstall.xdt
packages/Microsoft.ApplicationInsights.RuntimeTelemetry.0.12.0-build17386/lib/net40/Microsoft.ApplicationInsights.Extensibility.RuntimeTelemetry.XML
packages/Microsoft.ApplicationInsights.RuntimeTelemetry.0.12.0-build17386/lib/net45/Microsoft.ApplicationInsights.Extensibility.RuntimeTelemetry.XML
packages/Microsoft.ApplicationInsights.RuntimeTelemetry.0.12.0-build17386/lib/portable-win81+wpa81/Microsoft.ApplicationInsights.Extensibility.RuntimeTelemetry.XML
packages/Microsoft.ApplicationInsights.RuntimeTelemetry.0.12.0-build17386/lib/portable-win81+wpa81/Microsoft.ApplicationInsights.Extensibility.RuntimeTelemetry.winmd
packages/Microsoft.ApplicationInsights.Web.0.12.0-build17386/Microsoft.ApplicationInsights.Web.0.12.0-build17386.nupkg
packages/Microsoft.ApplicationInsights.Web.0.12.0-build17386/content/net40/ApplicationInsights.config.install.xdt
packages/Microsoft.ApplicationInsights.Web.0.12.0-build17386/content/net40/ApplicationInsights.config.uninstall.xdt
packages/Microsoft.ApplicationInsights.Web.0.12.0-build17386/content/net40/web.config.install.xdt
packages/Microsoft.ApplicationInsights.Web.0.12.0-build17386/content/net40/web.config.uninstall.xdt
packages/Microsoft.ApplicationInsights.Web.0.12.0-build17386/content/net45/ApplicationInsights.config.install.xdt
packages/Microsoft.ApplicationInsights.Web.0.12.0-build17386/content/net45/ApplicationInsights.config.uninstall.xdt
packages/Microsoft.ApplicationInsights.Web.0.12.0-build17386/content/net45/web.config.install.xdt
packages/Microsoft.ApplicationInsights.Web.0.12.0-build17386/content/net45/web.config.uninstall.xdt
packages/Microsoft.ApplicationInsights.Web.0.12.0-build17386/lib/net40/Microsoft.ApplicationInsights.Extensibility.Web.XML
packages/Microsoft.ApplicationInsights.Web.0.12.0-build17386/lib/net45/Microsoft.ApplicationInsights.Extensibility.Web.XML
packages/Microsoft.AspNet.Identity.Core.2.1.0/Microsoft.AspNet.Identity.Core.2.1.0.nupkg
packages/Microsoft.AspNet.Identity.Core.2.1.0/lib/net45/Microsoft.AspNet.Identity.Core.xml
packages/Microsoft.AspNet.Identity.EntityFramework.2.1.0/Microsoft.AspNet.Identity.EntityFramework.2.1.0.nupkg
packages/Microsoft.AspNet.Identity.EntityFramework.2.1.0/lib/net45/Microsoft.AspNet.Identity.EntityFramework.xml
packages/Microsoft.AspNet.Identity.Owin.2.1.0/Microsoft.AspNet.Identity.Owin.2.1.0.nupkg
packages/Microsoft.AspNet.Identity.Owin.2.1.0/lib/net45/Microsoft.AspNet.Identity.Owin.xml
packages/Microsoft.AspNet.Mvc.5.2.2/Content/Web.config.install.xdt
packages/Microsoft.AspNet.Mvc.5.2.2/Content/Web.config.uninstall.xdt
packages/Microsoft.AspNet.Mvc.5.2.2/Microsoft.AspNet.Mvc.5.2.2.nupkg
packages/Microsoft.AspNet.Mvc.5.2.2/lib/net45/System.Web.Mvc.xml
packages/Microsoft.AspNet.Razor.3.2.2/Microsoft.AspNet.Razor.3.2.2.nupkg
packages/Microsoft.AspNet.Razor.3.2.2/lib/net45/System.Web.Razor.xml
packages/Microsoft.AspNet.Web.Optimization.1.1.3/Microsoft.AspNet.Web.Optimization.1.1.3.nupkg
packages/Microsoft.AspNet.Web.Optimization.1.1.3/lib/net40/system.web.optimization.xml
packages/Microsoft.AspNet.WebApi.5.2.2/Microsoft.AspNet.WebApi.5.2.2.nupkg
packages/Microsoft.AspNet.WebApi.Client.5.2.2/Microsoft.AspNet.WebApi.Client.5.2.2.nupkg
packages/Microsoft.AspNet.WebApi.Client.5.2.2/lib/net45/System.Net.Http.Formatting.xml
packages/Microsoft.AspNet.WebApi.Client.5.2.2/lib/portable-wp8%2Bnetcore45%2Bnet45%2Bwp81%2Bwpa81/System.Net.Http.Formatting.xml
packages/Microsoft.AspNet.WebApi.Client.5.2.2/lib/portable-wp8+netcore45+net45+wp81+wpa81/System.Net.Http.Formatting.xml
packages/Microsoft.AspNet.WebApi.Core.5.2.2/Content/web.config.transform
packages/Microsoft.AspNet.WebApi.Core.5.2.2/Microsoft.AspNet.WebApi.Core.5.2.2.nupkg
packages/Microsoft.AspNet.WebApi.Core.5.2.2/lib/net45/System.Web.Http.xml
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/ApiDescriptionExtensions.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/App_Start/HelpPageConfig.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/Controllers/HelpController.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/HelpPage.css.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/HelpPageAreaRegistration.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/HelpPageConfigurationExtensions.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/ModelDescriptions/CollectionModelDescription.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/ModelDescriptions/ComplexTypeModelDescription.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/ModelDescriptions/DictionaryModelDescription.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/ModelDescriptions/EnumTypeModelDescription.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/ModelDescriptions/EnumValueDescription.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/ModelDescriptions/IModelDocumentationProvider.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/ModelDescriptions/KeyValuePairModelDescription.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/ModelDescriptions/ModelDescription.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/ModelDescriptions/ModelDescriptionGenerator.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/ModelDescriptions/ModelNameAttribute.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/ModelDescriptions/ModelNameHelper.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/ModelDescriptions/ParameterAnnotation.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/ModelDescriptions/ParameterDescription.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/ModelDescriptions/SimpleTypeModelDescription.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/Models/HelpPageApiModel.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/SampleGeneration/HelpPageSampleGenerator.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/SampleGeneration/HelpPageSampleKey.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/SampleGeneration/ImageSample.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/SampleGeneration/InvalidSample.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/SampleGeneration/ObjectGenerator.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/SampleGeneration/SampleDirection.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/SampleGeneration/TextSample.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/Views/Help/Api.cshtml.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/Views/Help/DisplayTemplates/ApiGroup.cshtml.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/Views/Help/DisplayTemplates/CollectionModelDescription.cshtml.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/Views/Help/DisplayTemplates/ComplexTypeModelDescription.cshtml.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/Views/Help/DisplayTemplates/DictionaryModelDescription.cshtml.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/Views/Help/DisplayTemplates/EnumTypeModelDescription.cshtml.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/Views/Help/DisplayTemplates/HelpPageApiModel.cshtml.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/Views/Help/DisplayTemplates/ImageSample.cshtml.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/Views/Help/DisplayTemplates/InvalidSample.cshtml.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/Views/Help/DisplayTemplates/KeyValuePairModelDescription.cshtml.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/Views/Help/DisplayTemplates/ModelDescriptionLink.cshtml.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/Views/Help/DisplayTemplates/Parameters.cshtml.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/Views/Help/DisplayTemplates/Samples.cshtml.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/Views/Help/DisplayTemplates/SimpleTypeModelDescription.cshtml.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/Views/Help/DisplayTemplates/TextSample.cshtml.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/Views/Help/Index.cshtml.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/Views/Help/ResourceModel.cshtml.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/Views/Shared/_Layout.cshtml.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/Views/Web.config
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/Views/_ViewStart.cshtml.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/XmlDocumentationProvider.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Microsoft.AspNet.WebApi.HelpPage.5.2.2.nupkg
packages/Microsoft.AspNet.WebApi.Owin.5.2.2/Microsoft.AspNet.WebApi.Owin.5.2.2.nupkg
packages/Microsoft.AspNet.WebApi.Owin.5.2.2/lib/net45/System.Web.Http.Owin.xml
packages/Microsoft.AspNet.WebApi.WebHost.5.2.2/Microsoft.AspNet.WebApi.WebHost.5.2.2.nupkg
packages/Microsoft.AspNet.WebApi.WebHost.5.2.2/lib/net45/System.Web.Http.WebHost.xml
packages/Microsoft.AspNet.WebPages.3.2.2/Content/Web.config.install.xdt
packages/Microsoft.AspNet.WebPages.3.2.2/Content/Web.config.uninstall.xdt
packages/Microsoft.AspNet.WebPages.3.2.2/Microsoft.AspNet.WebPages.3.2.2.nupkg
packages/Microsoft.AspNet.WebPages.3.2.2/lib/net45/System.Web.Helpers.xml
packages/Microsoft.AspNet.WebPages.3.2.2/lib/net45/System.Web.WebPages.Deployment.xml
packages/Microsoft.AspNet.WebPages.3.2.2/lib/net45/System.Web.WebPages.Razor.xml
packages/Microsoft.AspNet.WebPages.3.2.2/lib/net45/System.Web.WebPages.xml
packages/Microsoft.Bcl.1.1.8/License-Stable.rtf
packages/Microsoft.Bcl.1.1.8/Microsoft.Bcl.1.1.8.nupkg
packages/Microsoft.Bcl.1.1.8/content/net45/_._
packages/Microsoft.Bcl.1.1.8/content/portable-net45+win8+wp8+wpa81/_._
packages/Microsoft.Bcl.1.1.8/content/portable-net45+win8+wpa81/_._
packages/Microsoft.Bcl.1.1.8/content/portable-net451+win81+wpa81/_._
packages/Microsoft.Bcl.1.1.8/content/portable-net451+win81/_._
packages/Microsoft.Bcl.1.1.8/content/portable-win81+wp81+wpa81/_._
packages/Microsoft.Bcl.1.1.8/content/sl4/_._
packages/Microsoft.Bcl.1.1.8/content/sl5/_._
packages/Microsoft.Bcl.1.1.8/content/win8/_._
packages/Microsoft.Bcl.1.1.8/content/wp8/_._
packages/Microsoft.Bcl.1.1.8/content/wpa81/_._
packages/Microsoft.Bcl.1.1.8/lib/net40/System.IO.xml
packages/Microsoft.Bcl.1.1.8/lib/net40/System.Runtime.xml
packages/Microsoft.Bcl.1.1.8/lib/net40/System.Threading.Tasks.xml
packages/Microsoft.Bcl.1.1.8/lib/net40/ensureRedirect.xml
packages/Microsoft.Bcl.1.1.8/lib/net45/_._
packages/Microsoft.Bcl.1.1.8/lib/portable-net40+sl4+win8+wp71+wpa81/System.IO.xml
packages/Microsoft.Bcl.1.1.8/lib/portable-net40+sl4+win8+wp71+wpa81/System.Runtime.xml
packages/Microsoft.Bcl.1.1.8/lib/portable-net40+sl4+win8+wp71+wpa81/System.Threading.Tasks.xml
packages/Microsoft.Bcl.1.1.8/lib/portable-net40+sl4+win8+wp71+wpa81/ensureRedirect.xml
packages/Microsoft.Bcl.1.1.8/lib/portable-net40+sl4+win8+wp8+wpa81/System.IO.xml
packages/Microsoft.Bcl.1.1.8/lib/portable-net40+sl4+win8+wp8+wpa81/System.Runtime.xml
packages/Microsoft.Bcl.1.1.8/lib/portable-net40+sl4+win8+wp8+wpa81/System.Threading.Tasks.xml
packages/Microsoft.Bcl.1.1.8/lib/portable-net40+sl4+win8+wp8+wpa81/ensureRedirect.xml
packages/Microsoft.Bcl.1.1.8/lib/portable-net40+sl4+win8/System.IO.xml
packages/Microsoft.Bcl.1.1.8/lib/portable-net40+sl4+win8/System.Runtime.xml
packages/Microsoft.Bcl.1.1.8/lib/portable-net40+sl4+win8/System.Threading.Tasks.xml
packages/Microsoft.Bcl.1.1.8/lib/portable-net40+sl4+win8/ensureRedirect.xml
packages/Microsoft.Bcl.1.1.8/lib/portable-net40+sl5+win8+wp8+wpa81/System.IO.xml
packages/Microsoft.Bcl.1.1.8/lib/portable-net40+sl5+win8+wp8+wpa81/System.Runtime.xml
packages/Microsoft.Bcl.1.1.8/lib/portable-net40+sl5+win8+wp8+wpa81/System.Threading.Tasks.xml
packages/Microsoft.Bcl.1.1.8/lib/portable-net40+sl5+win8+wp8+wpa81/ensureRedirect.xml
packages/Microsoft.Bcl.1.1.8/lib/portable-net40+win8+wp8+wpa81/System.IO.xml
packages/Microsoft.Bcl.1.1.8/lib/portable-net40+win8+wp8+wpa81/System.Runtime.xml
packages/Microsoft.Bcl.1.1.8/lib/portable-net40+win8+wp8+wpa81/System.Threading.Tasks.xml
packages/Microsoft.Bcl.1.1.8/lib/portable-net40+win8+wp8+wpa81/ensureRedirect.xml
packages/Microsoft.Bcl.1.1.8/lib/portable-net40+win8/System.IO.xml
packages/Microsoft.Bcl.1.1.8/lib/portable-net40+win8/System.Runtime.xml
packages/Microsoft.Bcl.1.1.8/lib/portable-net40+win8/System.Threading.Tasks.xml
packages/Microsoft.Bcl.1.1.8/lib/portable-net40+win8/ensureRedirect.xml
packages/Microsoft.Bcl.1.1.8/lib/portable-net45+win8+wp8+wpa81/_._
packages/Microsoft.Bcl.1.1.8/lib/portable-net45+win8+wpa81/_._
packages/Microsoft.Bcl.1.1.8/lib/portable-net451+win81+wpa81/_._
packages/Microsoft.Bcl.1.1.8/lib/portable-net451+win81/_._
packages/Microsoft.Bcl.1.1.8/lib/portable-win81+wp81+wpa81/_._
packages/Microsoft.Bcl.1.1.8/lib/sl4-windowsphone71/System.IO.xml
packages/Microsoft.Bcl.1.1.8/lib/sl4-windowsphone71/System.Runtime.xml
packages/Microsoft.Bcl.1.1.8/lib/sl4-windowsphone71/System.Threading.Tasks.xml
packages/Microsoft.Bcl.1.1.8/lib/sl4-windowsphone71/ensureRedirect.xml
packages/Microsoft.Bcl.1.1.8/lib/sl4/System.IO.xml
packages/Microsoft.Bcl.1.1.8/lib/sl4/System.Runtime.xml
packages/Microsoft.Bcl.1.1.8/lib/sl4/System.Threading.Tasks.xml
packages/Microsoft.Bcl.1.1.8/lib/sl5/System.IO.xml
packages/Microsoft.Bcl.1.1.8/lib/sl5/System.Runtime.xml
packages/Microsoft.Bcl.1.1.8/lib/sl5/System.Threading.Tasks.xml
packages/Microsoft.Bcl.1.1.8/lib/win8/_._
packages/Microsoft.Bcl.1.1.8/lib/wp8/_._
packages/Microsoft.Bcl.1.1.8/lib/wpa81/_._
packages/Microsoft.Bcl.Async.1.0.168/License-Stable.rtf
packages/Microsoft.Bcl.Async.1.0.168/Microsoft.Bcl.Async.1.0.168.nupkg
packages/Microsoft.Bcl.Async.1.0.168/lib/net40/Microsoft.Threading.Tasks.Extensions.Desktop.xml
packages/Microsoft.Bcl.Async.1.0.168/lib/net40/Microsoft.Threading.Tasks.Extensions.xml
packages/Microsoft.Bcl.Async.1.0.168/lib/net40/Microsoft.Threading.Tasks.xml
packages/Microsoft.Bcl.Async.1.0.168/lib/portable-net40+sl4+win8+wp71+wpa81/Microsoft.Threading.Tasks.Extensions.xml
packages/Microsoft.Bcl.Async.1.0.168/lib/portable-net40+sl4+win8+wp71+wpa81/Microsoft.Threading.Tasks.xml
packages/Microsoft.Bcl.Async.1.0.168/lib/portable-net45+win8+wp8+wpa81/Microsoft.Threading.Tasks.Extensions.xml
packages/Microsoft.Bcl.Async.1.0.168/lib/portable-net45+win8+wp8+wpa81/Microsoft.Threading.Tasks.xml
packages/Microsoft.Bcl.Async.1.0.168/lib/portable-net45+win8+wpa81/Microsoft.Threading.Tasks.Extensions.xml
packages/Microsoft.Bcl.Async.1.0.168/lib/portable-net45+win8+wpa81/Microsoft.Threading.Tasks.xml
packages/Microsoft.Bcl.Async.1.0.168/lib/sl4-windowsphone71/Microsoft.Threading.Tasks.Extensions.Phone.xml
packages/Microsoft.Bcl.Async.1.0.168/lib/sl4-windowsphone71/Microsoft.Threading.Tasks.Extensions.xml
packages/Microsoft.Bcl.Async.1.0.168/lib/sl4-windowsphone71/Microsoft.Threading.Tasks.xml
packages/Microsoft.Bcl.Async.1.0.168/lib/sl4/Microsoft.Threading.Tasks.Extensions.Silverlight.xml
packages/Microsoft.Bcl.Async.1.0.168/lib/sl4/Microsoft.Threading.Tasks.Extensions.xml
packages/Microsoft.Bcl.Async.1.0.168/lib/sl4/Microsoft.Threading.Tasks.xml
packages/Microsoft.Bcl.Async.1.0.168/lib/win8/Microsoft.Threading.Tasks.Extensions.xml
packages/Microsoft.Bcl.Async.1.0.168/lib/win8/Microsoft.Threading.Tasks.xml
packages/Microsoft.Bcl.Async.1.0.168/lib/wp8/Microsoft.Threading.Tasks.Extensions.Phone.xml
packages/Microsoft.Bcl.Async.1.0.168/lib/wp8/Microsoft.Threading.Tasks.Extensions.xml
packages/Microsoft.Bcl.Async.1.0.168/lib/wp8/Microsoft.Threading.Tasks.xml
packages/Microsoft.Bcl.Async.1.0.168/lib/wpa81/Microsoft.Threading.Tasks.Extensions.xml
packages/Microsoft.Bcl.Async.1.0.168/lib/wpa81/Microsoft.Threading.Tasks.xml
packages/Microsoft.Bcl.Build.1.0.14/License-Stable.rtf
packages/Microsoft.Bcl.Build.1.0.14/Microsoft.Bcl.Build.1.0.14.nupkg
packages/Microsoft.Bcl.Build.1.0.14/content/net40/_._
packages/Microsoft.Bcl.Build.1.0.14/content/netcore45/_._
packages/Microsoft.Bcl.Build.1.0.14/content/portable-net40+win8+sl4+wp71+wpa81/_._
packages/Microsoft.Bcl.Build.1.0.14/content/sl4-windowsphone71/_._
packages/Microsoft.Bcl.Build.1.0.14/content/sl4/_._
packages/Microsoft.Bcl.Build.1.0.14/tools/Install.ps1
packages/Microsoft.Bcl.Build.1.0.14/tools/Microsoft.Bcl.Build.targets
packages/Microsoft.Bcl.Build.1.0.14/tools/Uninstall.ps1
packages/Microsoft.Diagnostics.Instrumentation.Extensions.Intercept.0.12.0-build02810/Microsoft.Diagnostics.Instrumentation.Extensions.Intercept.0.12.0-build02810.nupkg
packages/Microsoft.Diagnostics.Instrumentation.Extensions.Intercept.0.12.0-build02810/build/Microsoft.Diagnostics.Instrumentation.Extensions.Intercept.props
packages/Microsoft.Diagnostics.Tracing.EventSource.Redist.1.1.11-beta/License-Stable.rtf
packages/Microsoft.Diagnostics.Tracing.EventSource.Redist.1.1.11-beta/Microsoft.Diagnostics.Tracing.EventSource.Redist.1.1.11-beta.nupkg
packages/Microsoft.Diagnostics.Tracing.EventSource.Redist.1.1.11-beta/lib/net35/Microsoft.Diagnostics.Tracing.EventSource.XML
packages/Microsoft.Diagnostics.Tracing.EventSource.Redist.1.1.11-beta/lib/net40/Microsoft.Diagnostics.Tracing.EventSource.XML
packages/Microsoft.Diagnostics.Tracing.EventSource.Redist.1.1.11-beta/lib/portable-net45+win8+wpa81/Microsoft.Diagnostics.Tracing.EventSource.XML
packages/Microsoft.Owin.3.0.0/Microsoft.Owin.3.0.0.nupkg
packages/Microsoft.Owin.3.0.0/lib/net45/Microsoft.Owin.XML
packages/Microsoft.Owin.Host.SystemWeb.3.0.0/Microsoft.Owin.Host.SystemWeb.3.0.0.nupkg
packages/Microsoft.Owin.Host.SystemWeb.3.0.0/lib/net45/Microsoft.Owin.Host.SystemWeb.xml
packages/Microsoft.Owin.Security.3.0.0/Microsoft.Owin.Security.3.0.0.nupkg
packages/Microsoft.Owin.Security.3.0.0/lib/net45/Microsoft.Owin.Security.XML
packages/Microsoft.Owin.Security.Cookies.3.0.0/Microsoft.Owin.Security.Cookies.3.0.0.nupkg
packages/Microsoft.Owin.Security.Cookies.3.0.0/lib/net45/Microsoft.Owin.Security.Cookies.xml
packages/Microsoft.Owin.Security.Facebook.3.0.0/Microsoft.Owin.Security.Facebook.3.0.0.nupkg
packages/Microsoft.Owin.Security.Facebook.3.0.0/lib/net45/Microsoft.Owin.Security.Facebook.XML
packages/Microsoft.Owin.Security.Google.3.0.0/Microsoft.Owin.Security.Google.3.0.0.nupkg
packages/Microsoft.Owin.Security.Google.3.0.0/lib/net45/Microsoft.Owin.Security.Google.XML
packages/Microsoft.Owin.Security.MicrosoftAccount.3.0.0/Microsoft.Owin.Security.MicrosoftAccount.3.0.0.nupkg
packages/Microsoft.Owin.Security.MicrosoftAccount.3.0.0/lib/net45/Microsoft.Owin.Security.MicrosoftAccount.XML
packages/Microsoft.Owin.Security.OAuth.3.0.0/Microsoft.Owin.Security.OAuth.3.0.0.nupkg
packages/Microsoft.Owin.Security.OAuth.3.0.0/lib/net45/Microsoft.Owin.Security.OAuth.XML
packages/Microsoft.Owin.Security.Twitter.3.0.0/Microsoft.Owin.Security.Twitter.3.0.0.nupkg
packages/Microsoft.Owin.Security.Twitter.3.0.0/lib/net45/Microsoft.Owin.Security.Twitter.XML
packages/Microsoft.Web.Infrastructure.1.0.0.0/Microsoft.Web.Infrastructure.1.0.0.0.nupkg
packages/Microsoft.jQuery.Unobtrusive.Validation.3.2.2/Content/Scripts/jquery.validate.unobtrusive.js
packages/Microsoft.jQuery.Unobtrusive.Validation.3.2.2/Content/Scripts/jquery.validate.unobtrusive.min.js
packages/Microsoft.jQuery.Unobtrusive.Validation.3.2.2/Microsoft.jQuery.Unobtrusive.Validation.3.2.2.nupkg
packages/Modernizr.2.6.2/Content/Scripts/modernizr-2.6.2.js
packages/Modernizr.2.6.2/Modernizr.2.6.2.nupkg
packages/Modernizr.2.6.2/Tools/common.ps1
packages/Modernizr.2.6.2/Tools/install.ps1
packages/Modernizr.2.6.2/Tools/uninstall.ps1
packages/Newtonsoft.Json.6.0.4/Newtonsoft.Json.6.0.4.nupkg
packages/Newtonsoft.Json.6.0.4/lib/net20/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.4/lib/net35/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.4/lib/net40/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.4/lib/net45/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.4/lib/netcore45/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.4/lib/portable-net40%2Bsl5%2Bwp80%2Bwin8%2Bwpa81/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.4/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.4/lib/portable-net45%2Bwp80%2Bwin8%2Bwpa81/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.4/lib/portable-net45+wp80+win8+wpa81/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.4/tools/install.ps1
packages/Owin.1.0/Owin.1.0.nupkg
packages/Respond.1.2.0/Respond.1.2.0.nupkg
packages/Respond.1.2.0/content/Scripts/respond.js
packages/Respond.1.2.0/content/Scripts/respond.min.js
packages/WebGrease.1.5.2/WebGrease.1.5.2.nupkg
packages/bootstrap.3.0.0/bootstrap.3.0.0.nupkg
packages/bootstrap.3.0.0/content/Content/bootstrap.css
packages/bootstrap.3.0.0/content/Content/bootstrap.min.css
packages/bootstrap.3.0.0/content/Scripts/bootstrap.js
packages/bootstrap.3.0.0/content/Scripts/bootstrap.min.js
packages/bootstrap.3.0.0/content/fonts/glyphicons-halflings-regular.eot
packages/bootstrap.3.0.0/content/fonts/glyphicons-halflings-regular.svg
packages/bootstrap.3.0.0/content/fonts/glyphicons-halflings-regular.ttf
packages/bootstrap.3.0.0/content/fonts/glyphicons-halflings-regular.woff
packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2-vsdoc.js
packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2.js
packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2.min.js
packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2.min.map
packages/jQuery.1.10.2/Tools/common.ps1
packages/jQuery.1.10.2/Tools/install.ps1
packages/jQuery.1.10.2/Tools/jquery-1.10.2.intellisense.js
packages/jQuery.1.10.2/Tools/uninstall.ps1
packages/jQuery.1.10.2/jQuery.1.10.2.nupkg
packages/jQuery.Validation.1.11.1/Content/Scripts/jquery.validate-vsdoc.js
packages/jQuery.Validation.1.11.1/Content/Scripts/jquery.validate.js
packages/jQuery.Validation.1.11.1/Content/Scripts/jquery.validate.min.js
packages/jQuery.Validation.1.11.1/jQuery.Validation.1.11.1.nupkg
packages/repositories.config
