body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 100px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.gameBoard {
    border: 1px solid black; 
}

.gameSquare {
    float: left;
    background-size: 100%;
}

/*
white  #eddead
black  #a07241
*/

.whiteEmpty {
    background-color: #fecf97;
}

.blackEmpty {
    background-color: #d18b46;
}

.squareMoving {
    -webkit-filter: grayscale(1);
}

.possibleMove {
    /*-webkit-filter: sepia(1);*/
    
     -webkit-box-shadow:inset 0px 0px 0px 5px #ff0000; 
     -moz-box-shadow:inset 0px 0px 0px 5px #ff0000;
      box-shadow:inset 0px 0px 0px 5px #ff0000;
    
}

.possibleMoveYellow {
     -webkit-box-shadow:inset 0px 0px 0px 5px #00ff00; 
     -moz-box-shadow:inset 0px 0px 0px 5px #00ff00;
      box-shadow:inset 0px 0px 0px 5px #00ff00;
}

/************************ white-on-white *********************************************************/
.white_R_on_white {
    background-color: #fecf97;
    background-image: url('/Content/Images/WhiteRook.png');
    background-size: contain;
}

.white_N_on_white {
    background-color: #fecf97;
    background-image: url('/Content/Images/WhiteKnight.png');
    background-size: contain;
}

.white_B_on_white {
    background-color: #fecf97;
    background-image: url('/Content/Images/WhiteBishop.png');
    background-size: contain;
}

.white_Q_on_white {
    background-color: #fecf97;
    background-image: url('/Content/Images/WhiteQueen.png');
    background-size: contain;
}

.white_K_on_white {
    background-color: #fecf97;
    background-image: url('/Content/Images/WhiteKing.png');
    background-size: contain;
}

.white_P_on_white {
    background-color: #fecf97;
    background-image: url('/Content/Images/WhitePawn.png');
    background-size: contain;
}

/************************ white-on-black *********************************************************/
.white_R_on_black {
    background-color: #d18b46;
    background-image: url('/Content/Images/WhiteRook.png');
    background-size: contain;
}

.white_N_on_black {
    background-color: #d18b46;
    background-image: url('/Content/Images/WhiteKnight.png');
    background-size: contain;
}

.white_B_on_black {
    background-color: #d18b46;
    background-image: url('/Content/Images/WhiteBishop.png');
    background-size: contain;
}

.white_Q_on_black {
    background-color: #d18b46;
    background-image: url('/Content/Images/WhiteQueen.png');
    background-size: contain;
}

.white_K_on_black {
    background-color: #d18b46;
    background-image: url('/Content/Images/WhiteKing.png');
    background-size: contain;
}

.white_P_on_black {
    background-color: #d18b46;
    background-image: url('/Content/Images/WhitePawn.png');
    background-size: contain;
}

/************************ black-on-white *********************************************************/
.black_R_on_white {
    background-color: #fecf97;
    background-image: url('/Content/Images/BlackRook.png');
    background-size: contain;
}


.black_N_on_white {
    background-color: #fecf97;
    background-image: url('/Content/Images/BlackKnight.png');
    background-size: contain;
}

.black_B_on_white {
    background-color: #fecf97;
    background-image: url('/Content/Images/BlackBishop.png');
    background-size: contain;
}

.black_Q_on_white {
    background-color: #fecf97;
    background-image: url('/Content/Images/BlackQueen.png');
    background-size: contain;
}

.black_K_on_white {
    background-color: #fecf97;
    background-image: url('/Content/Images/BlackKing.png');
    background-size: contain;
}

.black_P_on_white {
    background-color: #fecf97;
    background-image: url('/Content/Images/BlackPawn.png');
    background-size: contain;
}

/************************ black-on-black *********************************************************/
.black_R_on_black {
    background-color: #d18b46;
    background-image: url('/Content/Images/BlackRook.png');
    background-size: contain;
}

.black_N_on_black {
    background-color: #d18b46;
    background-image: url('/Content/Images/BlackKnight.png');
    background-size: contain;
}

.black_B_on_black {
    background-color: #d18b46;
    background-image: url('/Content/Images/BlackBishop.png');
    background-size: contain;
}

.black_Q_on_black {
    background-color: #d18b46;
    background-image: url('/Content/Images/BlackQueen.png');
    background-size: contain;
}

.black_K_on_black {
    background-color: #d18b46;
    background-image: url('/Content/Images/BlackKing.png');
    background-size: contain;
}

.black_P_on_black {
    background-color: #d18b46;
    background-image: url('/Content/Images/BlackPawn.png');
    background-size: contain;
}

/************************  captured white *********************************************************/
.white_R {
    background-image: url('/Content/Images/WhiteRook.png');
    background-size: contain;
}

.white_N {
    background-image: url('/Content/Images/WhiteKnight.png');
    background-size: contain;
}

.white_B {
    background-image: url('/Content/Images/WhiteBishop.png');
    background-size: contain;
}

.white_Q {
    background-image: url('/Content/Images/WhiteQueen.png');
    background-size: contain;
}

.white_K {
    background-image: url('/Content/Images/WhiteKing.png');
    background-size: contain;
}

.white_P {
    background-image: url('/Content/Images/WhitePawn.png');
    background-size: contain;
}

/************************  captured black *********************************************************/
.black_R {
    background-image: url('/Content/Images/BlackRook.png');
    background-size: contain;
}

.black_N {
    background-image: url('/Content/Images/BlackKnight.png');
    background-size: contain;
}

.black_B {
    background-image: url('/Content/Images/BlackBishop.png');
    background-size: contain;
}

.black_Q {
    background-image: url('/Content/Images/BlackQueen.png');
    background-size: contain;
}

.black_K {
    background-image: url('/Content/Images/BlackKing.png');
    background-size: contain;
}

.black_P {
    background-image: url('/Content/Images/BlackPawn.png');
    background-size: contain;
}

